<a [ngClass]="!isShow ? 'button' : 'button disabled'" [routerLink]="['newproject']">New project</a>
<select class="custom-select" (change)="changeProject($event.target.value)" [value]='0'>
  <option value="-1" disabled>Choose your project</option>
  <option *ngFor="let project of projects$ | async" [value]="project.id">{{project.name}}</option>
</select>
<a [ngClass]="!isShow ? 'button' : 'button disabled'" routerLink="/viewer/project/{{ filterProj }}" (click)="toggleDisplay()">View</a>


<div [hidden]="isShow">

  <!-- <app-dashboard [projects]="projects">
  </app-dashboard> -->
  <!-- <li  *ngFor="let project of projects$ | async">
    <span>{{ project.name }}</span>
    </li> -->

    <table class="pure-table pure-table-horizontal">
      <thead>
      <tr>
        <th style="width: 150px">ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects$ | async">
          <td style="width: 150px">{{ project.id }}</td >
          <td>{{project.name}}</td>
      </tr>
    </tbody>
    </table>

</div>
<div></div>

<router-outlet></router-outlet>
<div [hidden]="!isShow">
<a class="button" routerLink="/viewer" (click)="toggleDisplay()">Up</a>
</div>
