.header {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  background: #47c9af;
  color: black;
  font-size: 30px;
}





br { clear:left }

.menu_simple {
    width: 100%;
    background-color: #47c9af;
}

.menu_simple ul {
    margin: 0; padding: 0;
    float: left;
}

.menu_simple ul li {
    display: inline;
}

.menu_simple ul li a {
    float: left; text-decoration: none;
    color: black;
    padding: 10.5px 11px;
    background-color:  #47c9af;
}

.menu_simple ul li a:visited {
    color: black;
}

.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: black;
    background-color: #ffffff;
}
